<% provide(:title, "Help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help"%>
  <a href="http://www.railstutorial.org/help"><%= t "rails_help"%></a>.
  <%= t "To get help on this sample app, see the"%>
  <a href="http://www.railstutorial.org/book"><em><%= t "ruby"%></em>
    <%= t "book"%></a>.
  </p>
